*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
    margin: 25px;
}
header img{
    height: 100px;
    width: 100px;
}
ul a{
    text-decoration: none;
    color: rgb(20, 18, 18);
    font-size: 20px;
    font-weight: bolder;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    position: sticky;
    top: 0;
    z-index: 2;
}
.prothom{
    display: flex;
}
.top_bar{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    background: white;
    color: navy;
    font-size: 20px;
}
.bg_img{
    background: url(./desktop-wallpaper-development-technology-personal-development.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    height: 670px;
}
.rain{
    position: relative;
}
.last{
    position: absolute;
    background:white ;
    width: 200px;
    top: 35px;
    height: 195px;
    text-align: center;
    display: none;
}
.rain:hover .last{
    display: block;
}
li:hover a{
    color: rgb(14, 12, 12);
}
.fa-envelope-o{
    font-size: 35px;
    color: whitesmoke;
    padding: 3px;
}
.fa-bars{
    display: none;
}
.info{
    display: flex;
    gap: 10px;
}
.icon{
    display: flex;
    gap: 10px;
}
.drop{
    display: flex;
    justify-content: center;
    gap: 25px;
    font-size: 25px;
    height: 50px;
}
.token{
    height: 125px;
    width: 300px;
    background-color: rgb(238, 210, 109);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid rgb(65, 5, 5);
    gap: 20px;
    box-shadow:10px 10px 10px;
}
.drop .token:hover{
    background-color: ghostwhite;
}
.heroarea{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 150px;
}
.head{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    padding: 20px;
    color: black;
}
.para{
    font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-size: 20px;
}
.top_bar:hover .icon{
   background-color: blueviolet;
    gap: 20px;
}
.top_bar:hover .info{
    background-color:blueviolet;
}
button{
   background-color:rgb(255, 255, 255);
   padding: 10px;
   color: black;
   font-size: 20px;
   border-style: double;
   border-radius: 20px;
  justify-content: center;
  margin-top: 50px;
}
.next{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 150px;
    color: rgb(7, 7, 8);
    height: 130px;
    width: 80%;
   
}
.next img{
    height: 100px;
    width: 100px;
    border-radius: 50px;
}
.partone{
    font-family: "Bungee Tint", sans-serif;
    font-weight: 400;
    padding: 20px;
    text-align: center;
}
.parttwo{
    font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
}
.one{
    display: flex;
   border: 3px solid red;
  gap: 25px;
  width: 28%;
  height: 30%;
  background: rgb(255, 255, 255);
  padding: 20px;
}
.hand{
    height: 50px;
    width: 50px;
    margin-top: 10px;
}
.features{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;
   
}
.your-class div{
    display: flex;
    width: 100%;
   
}
.your-class img{
     height: 400px;
    width: 800px;
    gap: 10px;
    margin: 0 auto;
    margin-top: 30px;
}
.slick-prev:before, .slick-next:before { 
    color:rgba(20, 19, 20, 0.973) !important;
}
.slick-prev::before,
.slick-next::before {
    color: rgba(0, 0, 0, 0.2);
    font-size: 2.5rem;
}

.slick-prev,
.slick-next {
    width: 2.5rem;
    height: 2.5rem;
    z-index: 2;
}

.slick-list {
    width: 95%;
    margin: 0 auto;
}

.slick-prev {
    left: 100px;
}

.slick-next {
    right: 100px;
}
.slide_section{
    background: url(./kok.jpg);
    background-size: cover;
    background-attachment: fixed;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}
.slide_section h1{
   font-size: 50px;
   font-family: cursive;
   font-weight: 200;
    color: rgb(11, 4, 104);
    text-align: center;
   
}
.slick-dots li button:before {
    font-family: 'slick';
    font-size: 55px;
    line-height: 20px;
    position: absolute;
    top: 50px;
    left: 0;
    width: 20px;
    height: 20px;
    content: '.';
    text-align: center;
    opacity: .25;
    color: rgb(255, 255, 255);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
   margin-top: -50px;
}
.slick-dots li.slick-active button:before {
    opacity: .75;
    color: rgb(0, 0, 0);
}

.megamenu{
    display: none;
    background: whitesmoke;
    width: 1500px;
    margin: 0 auto;
    position: absolute;
    left: 0;
    padding: 50px;
    gap: 70px;
    justify-content:space-evenly;
   text-align: justify;
   
}
.about:hover .megamenu{
    display: flex;
}
.megamenu h3{
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 2px;
    font-style: inherit;
    border-bottom: 3px solid purple;
}
.mega_menu{
    display: none;
    background: white;
    width: 1500px;
    margin: 0 auto;
    position: absolute;
    left: 0;
    padding: 50px;
    gap: 50px;
    justify-content: space-evenly;
    text-align: center;
}
.devop:hover .mega_menu{
    display: flex;
}
.mega_menu h3{
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 2px;
    font-style: inherit;
    border-bottom: 4px solid purple;
}
.devop .mega_menu .mega_class ul li:hover a{
    border-bottom: solid red;
   
}
.about .megamenu .hover ul li:hover a{
    border-bottom: solid rgb(6, 66, 196);
}
.border{
    width: 300px;
    margin-top: 30px;
    margin-left: -20px;
}
.megamenuthree{
    display: none;
    background: rgb(246, 246, 246);
    width: 100%;
    margin: 0 auto;
    position: absolute;
    left: 0;
    padding: 50px;
    gap: 30px;
    justify-content: space-evenly;
    text-align: center;
}
.blog:hover .megamenuthree{
    display: flex;
}
.megamenuthree h3{
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 2px;
    font-style: inherit;
    border-bottom: 4px solid rgb(15, 14, 15);
}
.blog .megamenuthree .megaclassthree ul li:hover a{
    border-bottom:solid rgb(151, 10, 10);
}
.mobile_menu{
    width: 300px;
    height: 500px;
    background-color: rgb(191, 182, 212);
    right: 0;
    top: 0;
    display: none;
    position: absolute;
   
}
.mobile_menu li{
    font-size: 20px;
    font-weight: 600;
    
}

@media only screen and (max-width:600px) {
    body{
        width: 600px;
    }
    .prothom {
        display: none;
    }
    .heroarea {
        padding: 50px;
    }
    .para {
        width: 500px;
        
    }
    .top_bar {
        display: flex;
        justify-content: space-between;
        padding: 30px;
        background: white;
        color: navy;
        font-size: 20px;
        width: 450px;
    }
    .features {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;
        width: 400px;
    }
    .slide_section h1 {
        font-size: 33px;
        color: rgb(62, 245, 16);
       }
     .your-class img {
        height: 400px;
        width: 468px;
      
    }
    .drop {
        display: flex;
        justify-content: center;
        gap: 25px;
        font-size: 25px;
        width: 492px;
        flex-wrap: wrap;
    }
    .bg_img {
        width: 100%;
        height: 600px;
    }
    .one {
        width: 100%;
        height: 20%;
    }
    element.style {
        width: 418px;
    }
    .fa-bars{
    font-size: 35px;
    color: whitesmoke;
    display: inline;

    }
    .fa-bars:hover .mobile_menu{
        display: block;
        }
}
@media only screen and (max-width:768px) {
    body{
        width: 768px;
    }
    .prothom {
        display: none;
    }
    .heroarea {
        padding: 50px;
    }
    .para {
        width: 500px;
        
    }
    .top_bar {
        display: flex;
        justify-content: space-between;
        padding: 30px;
        background: white;
        color: navy;
        font-size: 20px;
        width: 450px;
    }
    .features {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;
        width: 400px;
    }
    .slide_section h1 {
        font-size: 33px;
        color: rgb(62, 245, 16);
       }
     .your-class img {
        height: 400px;
        width: 468px;
      
    }
    .drop {
        display: flex;
        justify-content: center;
        gap: 25px;
        font-size: 25px;
        width: 492px;
        flex-wrap: wrap;
    }
    .bg_img {
        width: 100%;
        height: 600px;
    }
    .one {
        width: 100%;
        height: 20%;
    }
    element.style {
        width: 418px;
    }
    .fa-bars{
        display: inline;
    font-size: 35px;
    color: white;
    display: inline;

    }
    .middle_class{
        display: none;
    }
    .middle_item:hover .middle_class{
        display: block;
    }
}
.new_work{
    height: 700px;
    width: 100%;
    padding-top: 30px;
}
.writingpart h1,h3{
   text-align:center ;
}
.projects_img{
    width: 400px;
    height: 500px;
    overflow: hidden;
}
.portfolio_area{
    display: flex;
    gap: 20px;
    justify-content: center;
    padding-top: 50px;
}
.projects_img img{
    width: 100%;
   object-fit: cover;
}
.projects_img img:hover {
    animation-name: scroll;
    animation-duration: 5s;
    animation-timing-function: linear;
}
@keyframes scroll{
    from{
        transform: translateY(0px);
    }
    to{
        transform: translateY(-75%);
    }
}
.eachproject a{
    text-decoration: none;
   padding-right: 340px;
    color: black;
}
.numbering_section{
    height: 200px;
    width: 100%;
    background: rgb(0, 0, 72);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 160px;
}
.numberdiv h1{
    color: white;
    font-size: 45px;
}
.numberdiv p{
    color: white;
    font-size: 25px;
}
.joining{
    height: 350px;
    width: 89%;
    padding-top: 100px;
    justify-content: space-around;
    display: flex;
}
.joining h1{
    font-size: 40px;
    color: rgb(3, 3, 71);
}
.joining img{
    height: 100px;
    width: 270px;
}
.font{
    font-size: 50px;
}
.fa-telegram{
    color: deepskyblue;
}
.fa-twitter-square{
    color: deepskyblue;
}
.fa-facebook-square{
    color: rgb(6, 66, 196);
}
.fa-youtube-play{
    color: red;
}
.footer{
    background:url(./desktop-wallpaper-web-design-dark-developer.jpg);
    background-attachment: fixed;
    background-size: cover;
    height: 650px;
}
.footer h1{
    color: white;
    font-size: 25px;
    text-align: center;
}
.footer p{
    color: white;
    font-size: 20px;
    text-align: center;
}
.stage_one{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
   padding-top: 80px;
}
.stage_two{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding-top: 30px;
}
.market{
    padding-top: 63px ;
}
.newfonts{
    justify-content: center;
    display: flex;
    color: white;
    font-size: 40px;
    gap: 35px;
    padding-top: 40px;
}
.lastarea{
    display: flex;
    color: white;
    justify-content: center;
    gap: 10px;
    padding-top: 20px;
}
.new_class img{
    height: 400px;
    width: 700px;
    padding-left: 25%;
}
.new_slider{
    padding-top: 70px;
   background: rgb(78, 138, 190);
   text-align: center;
   color: black;
   font-size: 35px;
   height: 550px;
}
.new_class .slick-prev {
    left: 50px;
}

.new_class .slick-next {
    right: 50px;
}
.new_class .slick-prev:before, .slick-next:before { 
    color:none;
    opacity: 0%;

}



